<h1>To do list</h1>
<ul>
    <% thingsToDo.forEach((item, index) => { %>
        <li><a href="/todo/delete/<%= index %>">&#10008</a> <%= item %></li>
    <% }) %>
</ul>


<form action="/todo/add" method="post" class="add-to-do">
    <label form="todo">Thing to do : </label>
    <input type="text" name="todo" id="todo" required>
    <input type="submit" value="Add">
</form>
