<h1>To do list</h1>
<p>
    <% thingsToDo.forEach((item) => { %>
        <%= item %></br>
    <% }) %>
</p>

<form action="/todo/add" method="post" class="add-to-do">
    <label form="to-do">Thing to do : </label>
    <input type="text" name="to-do" id="to-do" required>
    <input type="submit" value="Add">
</form>
